<nav local-class="navbar" class="navbar navbar-inverse navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <div class="navbar-header">
<!--            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation" data-target="#main-navbar">-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--            </button>-->
            {{#link-to "index" class="navbar-brand"}}
                <img local-class="logo" src="{{navigation.logoSrc}}" alt="">
            {{/link-to}}
        </div>

        <div class="collapse navbar-collapse row justify-content-end" id="main-navbar">
            <ul class="nav navbar-nav">
                {{#each navigation.links as |link|}}
                    <li class="nav-item">
                        {{#link-to link.path class="nav-link"}}
                            {{link.name}}
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</nav>
