<nav local-class="navbar" class="navbar navbar-inverse navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to "index" class="navbar-brand"}}
                <img local-class="logo" src="{{logoSrc}}" alt="">
            {{/link-to}}
        </div>

        <div class="collapse navbar-collapse row justify-content-end" id="main-navbar">
            <ul class="nav navbar-nav">
                {{#each links as |link|}}
                    <li class="nav-item">
                        <NavLinkTo @link={{link}}></NavLinkTo>
                    </li>
                {{/each}}
            </ul>
            <div local-class="navbar-socials" class="navbar-text">
                {{#each social as |socialButton|}}
                    <SocialButton @socialButton={{socialButton}}></SocialButton>
                {{/each}}
            </div>
        </div>
    </div>
</nav>
