//vendors
@import "ember-bootstrap/bootstrap";
@import 'ember-cli-loaders/variables';
@import 'ember-cli-loaders/mixins';
@import 'ember-cli-loaders/animations/ball-scale-ripple-multiple';

//vars
$primary: #EDDCDB;
$accent: #A37675;
$secondary: #CBAB58;
$foreground: #212121;
$background: #f2f2f2;

@import 'animation';
@import 'custom';
