body {
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll !important;
}

.main {
  margin-top: 101px;
  position: relative;
  padding: 0 0 230px 0;
  min-height: calc(100vh - 101px);
}

.loading-screen {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $primary;

  .ball-scale-ripple-multiple {
    transform: translateY(-50px);
  }

  .ball-scale-ripple-multiple > div {
    border-color: $secondary;
    width: 100px;
    height: 100px;
    left: -52px;
  }
}

.navbar-light .navbar-nav .nav-link.active {
  color: $secondary;
  font-weight: 700;
}

.index-view {
  //min-height: 200vh;
}

.info-panel {
  min-height: 10rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .info-text {
    //fix transition width bug
    width: calc(100vw - 15px);
    color: $accent;
    font-size: 1.25rem;
    padding: 1rem;
  }
}

.btn {
  &.btn-basic {
    background-color: $accent;
    color: $white;
    text-transform: uppercase;
    font-weight: 100;
    padding: .25rem 1rem;
    box-shadow: 0 8px 6px -6px $accent;
    transition: all .15s ease-in-out;
    &:hover {
      box-shadow: 0 0 2px 0 $accent;
      background-color: darken($accent, 10%);
    }
  }
}

.hidden {
  opacity: 0;
}
