body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  margin-top: 80px;
  position: relative;
}

.loading-screen {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $primary;

  .ball-scale-ripple-multiple {
    transform: translateY(-50px);
  }

  .ball-scale-ripple-multiple > div {
    border-color: $secondary;
    width: 100px;
    height: 100px;
    left: -52px;
  }
}

.navbar-light .navbar-nav .nav-link.active {
  color: $secondary;
  font-weight: 700;
}
