.contact-form-container {
  background-color: $white;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //fix transition width bug
  width: calc(100vw - 15px);
}

.contact-form,
.contact-info {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .contact-form,
  .contact-info {
    width: 100%;
  }
}
