.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 24px;
  margin: 5px;
  transition: all .3s ease;

  .social-button-icon {
    color: $transparentBlack;
    transition: all .3s ease;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px $secondary;
    .social-button-icon {
      color: $secondary;
      transform: scale(0.75);
    }
  }
}

:global(footer) {
  .social-button {
    .social-button-icon {
      color: $white;
      opacity: 0.75;
      font-size: 20px;
    }
  }
}
